@import "@vkontakte/vkui/dist/vkui.css", "variables.scss";

body,
.Header {
  user-select: none;
}

body[scheme="bright_dark"],
[scheme="bright_dark"],
.vkuibright_dark,
body[scheme="vkcom_dark"],
[scheme="vkcom_dark"],
.vkuivkcom_dark,
.dark {
  .toast {
    background: #232324;
    color: #fff;
  }
}

.vkuiTabbarItem {
  .vkuiTappable {
    display: none;
  }
}

.vkuiPanelHeader__content-in,
.vkuiModalPageHeader__content-in {
  font-weight: 400 !important;
}

.SimpleCell {
  border-radius: 8px;
}

.navigation__item-selected {
  background-color: var(--vkui--color_background--hover);
}

.panelPadding {
  margin: 5px 10px;
}

.mobile {
  .toast {
    margin-top: 30px;
  }
}
