.DivFix {
  margin-top: -10px;
}

.tw {
  white-space: pre-wrap;
}

.mt10 {
  margin-top: 10px;
}

.jcc {
  justify-content: center;
}

.tap {
  cursor: pointer;
}

.mt5 {
  margin-top: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mr8 {
  margin-right: 8px;
}

.p5 {
  padding: 5px;
}

.centered {
  text-align: center;
}
