.DivFix {
  margin-top: -10px;
}

.mt10 {
  margin-top: 10px;
}

.jcc {
  justify-content: center;
}

.mt5 {
  margin-top: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.p5 {
  padding: 5px;
}

.centered {
  text-align: center;
}
